@model E_Platform.Models.Leccion

<div class="container mt-4">
    <h2>Editar Lección</h2>
    <form asp-action="Edit">
        <input type="hidden" asp-for="LeccionID" />
        <div class="mb-3">
            <label asp-for="Nombre" class="form-label"></label>
            <input asp-for="Nombre" class="form-control" />
        </div>
        <div class="mb-3">
            <label asp-for="Contenido" class="form-label"></label>
            <textarea asp-for="Contenido" class="form-control"></textarea>
        </div>
        <div class="mb-3">
            <label asp-for="Nombre" class="form-label"></label>
            <input asp-for="Nombre" class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
